#output directory (where all the output files are generated)
#default /tmp/ptime
output_dir=/tmp/ptime

#output for raw data 
#default true
raw_log_enabled=true
#default true
raw_jsonl_enabled=true
#default false
raw_console_enabled=false

#compression for raw data
#default true
compression_enabled=true

#output for metrics
#default true
metrics_on_console=true
#default true
metrics_on_json=true

#.log and .jsonl file rotation settings 
#default 5m
max_file_size=5m
#default 3
max_number_of_files=3

#general settings
#default false
include_self=false

